* {
  font-family: 'Molengo', sans-serif;
}


h1 {
  color: #383838;
  font-size: 64px;
}

h2{
  font-size: 38px;
}


p,
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

.banner {
  background-image: url("../images/landscape.jpg");
  height: 668px;
  width: 100%;
  padding: 150px 30px;
  text-align: center;
}
